sample-master/pipeline/pl_file_copy_adls_130622.json
{
	"name": "pl_file_copy_adls_130622",
	"properties": {
		"activities": [
			{
				"name": "Lookupmy",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT FolderPath, FileNameOrPattern FROM dbo.SourceFileList WHERE DataSourceId = 16",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SOAPAppDatabase",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForeachLookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupmy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupmy').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyFileFromLocalToAdls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_file_src_130622",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_file_trg_130622",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-06-13T06:34:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}