sample-master/pipeline/sql_to_blob_pipe.json
{
	"name": "sql_to_blob_pipe",
	"properties": {
		"activities": [
			{
				"name": "Lookupmy",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT TableName FROM dbo.SourceTableList WHERE DataSourceId = 7",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SOAPAppDatabase",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForeachLookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupmy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupmy').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyFromAzureSQLToAdls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().tablename}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sqldb",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blob",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-05-19T06:30:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}